@import '~antd/dist/antd.css';
@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Regular.ttf);
}
body {
  --primary-color:#963886;
  --box-shadow-color: #6d2761d5;
  --secondary-color:#ebebeb;
    margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.booking-button-container{
  position: fixed;
  top:20%;
  right:2%;
  z-index:2;
  width: 6rem;
  height: 6rem;
}
.booking-button{
  display: flex;
  flex-direction: column;
  box-shadow: 0 24px 36px rgba(0,0,0,0.11), 0 12px 23px var(--box-shadow-color);
  position: relative;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5rem;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.booking-button strong, span{
  position: relative;
}
.book-strong{
  font-weight: bolder;
  font-size: 1.2rem;
}
.book-appointment{
  font-weight: normal;
  font-size: 0.8rem;
}

.app-header{
  height: 11.4rem;
  background: var(--secondary-color);
  padding: 0px 10px;
  margin-bottom: 1rem;
}
.ant-layout-footer {
  padding: 24px 50px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  background: var(--secondary-color);
}
.vertical-slider{
  text-align: center;
  height: 25.5rem;
  line-height: 25.5rem;
  width: 23rem;
  background: #364d79;
  overflow: hidden;
}
.vertical-slider .slider-img{
  width: 23rem !important;
  height: 25.5rem;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 18.5rem;
  line-height: 18.5rem;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.slider-img{
  width: 32rem;
  height: auto;
}
.ant-layout-footer{
  background-color: var(--primary-color);
}
.text-first{
  color: var(--primary-color);
}
.text-para{
  color:rgb(63, 63, 63);
}
.map-iframe{
  width:100%;
  height: auto;
}
.icon-wrapper{
  vertical-align: initial;
}
.service-card{
  border-radius: 4px;
  transition: all 0.3s ease-out;
  z-index: 0;
  overflow: hidden;
}
.service-card .icon-wrapper{
  color: white;
}
.service-card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 1.25rem;
  left: 1.25rem;
  background: linear-gradient(45deg,var(--primary-color),rgb(3, 205, 212));
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 2.2rem;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}
.service-card:hover{
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11), 0 24px 46px var(--box-shadow-color);
  color: white;
}
.service-card:hover:before {
  transform: scale(40);
}
.service-card:hover .ant-card-head{
  color: white !important;
}
.service-card:hover .ant-list-item{
  color: white !important;
}
.fs-p5{
  font-size: 0.6rem;
}
.fs-p9{
  font-size: 0.8rem;
}
.header-menu{
  background-color: var(--primary-color);
}
.header-menu .ant-menu-item{
  color: white !important;
}
.feature-img{
  width: 20rem;
  height: auto;
}